@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
        
    }
}

@media only screen and (min-width:200px) and (max-width:575px){

     
    .btn-outer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: white;
        padding: 10px 10px;
        left: 0;
        justify-content: center !important;
        z-index: 1000000;
    }

    .whatsappbtn,.call{
        padding: 7px 15px !important;
        font-size: 14px !important;
    }

    .banner-content h1{
    font-size: 32px !important;
    font-weight: 700;
    line-height: 35px !important;    
    text-align: center;
}

.banner-content p,.banner-content ul li{
    font-size: 16px !important;
}

.banner-content .bannerButtons{
 flex-direction: column;
 
 
}

.banner-content .bannerButtons button{
    font-size: 12px !important;
    
    
}

.bannerForm{
    padding:20px !important;
    margin-top: 2rem;
}




}